body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: 1rem;   /* space on left + right */
  padding-block: 1.5rem;  /* optional: space top + bottom */
}
nav {
  display: flex;     /* enable flexbox */
}

nav a {
  flex: 1;           /* each link takes equal width */
  text-align: center;
}

nav a.current {
  font-weight: bold;
}