html {
  --color-accent: oklch(44.973% 0.13316 315.922);  /* pick any oklch you like */
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: 1rem;   /* space on left + right */
  padding-block: 1.5rem;  /* optional: space top + bottom */
}

input,
textarea,
button {
    font: inherit;
}

nav {
  display: flex;
  margin-bottom: 1rem; /* space between nav and page content */

  /* subtle bottom border in cool gray */
  border-bottom: 1px solid oklch(80% 0.03 200);
}

nav a {
  flex: 1;                 /* equal width links */
  text-decoration: none;   /* remove underline */
  color: inherit;          /* use same color as body text */
  text-align: center;      /* center the label in its box */
  padding: 0.5em 0;        /* vertical padding; horizontal not needed for flex */
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 0.03 200);  /* thicker bar for current page */
  padding-bottom: 0.1em;                           /* reduce padding so height stays similar */
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: oklch(from var(--color-accent) 95% 5% h);
}